@use "@src/styles" as *;

.header-menu,
.sub-menus {
  list-style: none;
  margin: 0;
}
.header-menu {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 50px;
  background-color: $whiteColor;
  @include breakpoint-down(md) {
    display: block;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    max-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    &:not(.active) {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
    &::-webkit-scrollbar-track {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
.sub-items a,
.menu-items {
  color: $textColor;
  transition: all 0.25s;
  &:hover {
    color: $primaryHover;
  }
}
.arrow-down {
  margin-left: 4px;
  transform: translateY(25%);
  color: $primaryColor;
}
.menu-items {
  display: inline-block;
  padding: 16px 12px;
  position: relative;
  cursor: pointer;
  transform: translateY(-2.5px);
  &:hover {
    .sub-menus {
      display: block;
    }
    .sub-menus.large-desktop {
      display: flex;
    }
  }
  @include breakpoint-down(md) {
    width: 100%;
    padding: 4px 0;
    transform: unset;
  }
}

.sub-menus {
  display: none;
  position: absolute;
  top: 100%;
  background-color: $whiteColor;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 1px 2px 2px rgba($color: #000000, $alpha: 0.2);
  padding: 12px 6px;
  @include breakpoint-down(md) {
    width: 100%;
    position: static;
    padding: 0;
    box-shadow: none;
    margin-top: 6px;
  }
}
.menu-items.login-box {
  margin-left: auto;
}
.sub-menus.large-desktop {
  width: 500px;
  flex-wrap: wrap;
  @include breakpoint-down(md) {
    width: 100%;
  }
}

.sub-menus.large-desktop .sub-items {
  width: calc(100% / 3);
  @include breakpoint-down(md) {
    width: auto;
  }
  @include breakpoint-down(sm) {
    width: calc(100% / 2);
  }
}
.sub-items a {
  padding: 6px 12px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}
