@use "@src/styles" as *;

.login-register {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;

  @include breakpoint-down(md) {
    margin-left: inherit;
  }

  & .btn {
    font-size: 14px;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.account {
  @include breakpoint-down(md) {
    width: 100%;
    margin-bottom: 6px;
  }
  @extend .login-register;
  & .custom-drop {
    row-gap: 0;
    padding: 0 !important;
    & .drop-toggle-btn {
      font-weight: 400;
    }

    & .drop-content {
      row-gap: 0 !important;
    }

    & .drop-items {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 12px 12px;
      transition: color 0.3s;
      color: $textColor;
      &:not(:last-child) {
        border-bottom: 1px solid $separatorColor;
      }
      &:hover {
        color: $primaryColor;
      }
    }
  }
}
.account-drop-toggle {
  font-weight: 600;
  text-transform: none;
}

.account-drop-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  & a {
    display: flex;
    align-items: center;
    padding: 12px;
    white-space: nowrap;
    gap: 4px;
    color: $textColor;
    transition: color 0.3s;
  }
  & a:hover {
    color: $primaryColor;
  }
  & a:not(:last-child) {
    border-bottom: 1px solid $separatorColor;
  }

  @include breakpoint-down(md) {
    width: 100%;
    flex-direction: column;
    & a {
      height: auto;
      padding: 12px;
    }
  }
}
.auth-ops {
  font-size: 14px;
  white-space: normal;
}
.auth-ops-icons {
  font-size: 20px;
}
