@use "@src/styles" as *;
.book-case {
  &__title {
    margin-bottom: 8px;
    font-size: 2rem;
    color: $textColor;
    margin-left: 12px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}
