$primaryColor: #357376;
$primaryHover: #316a6d;
$grayHover: #eee;
$grayColor: #f5f5f5;
$textColor: #333;
$whiteColor: #fff;
$separatorColor: rgba(212, 218, 223, 0.5);
$blueColor: #3e8ed0;
$blueColor2: #2b74b1;
