@use "./" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: $primaryFont;
}

a {
  color: $primaryColor;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: $textColor;
  }
}

a.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.wrapper {
  @include wrapper;
}
.main-content {
  padding-top: 55px;
  background: $grayColor;
}
.separator {
  width: 100%;
  height: 1px;
  background: $separatorColor;
}

$tagColor: (
  "blue": #3e8ed0,
  "green": #1eb553,
  "yellow": #ffe08a,
  "white": $whiteColor,
);
$tagTextColors: (
  "white": $whiteColor,
  "black": $textColor,
);

.tag {
  display: inline-block;
  border-radius: 4px;
  padding: 4px;
  color: $whiteColor;
  font-size: 14px;
  margin-bottom: 8px;
  transition: all 0.3s;
  font-weight: normal;
  &:not(:nth-child(0)) {
    margin-right: 8px;
  }

  @each $name, $color in $tagColor {
    &.tag-#{$name} {
      background: $color;
    }
  }
  @each $name, $color in $tagTextColors {
    &.tag-color-#{$name} {
      color: $color;
    }
  }

  &.tag-vip,
  &.tag-full {
    color: $textColor;
    text-transform: uppercase;
  }

  &:not(.hover-none):hover {
    text-decoration: underline;
  }
}

a:-webkit-any-link:focus-visible {
  outline-offset: 0px;
  outline: none;
}
.swiper .swiper-pagination {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  //   position: relative;
  & .swiper-pagination-bullet {
    margin: 0 4px;
    position: relative;
    left: 32px;
    transition: all 0.3s;
    &.active-prev,
    &.active-next {
      transform: scale(0.7);
    }
    &.active-prev-prev,
    &.active-next-next {
      transform: scale(0.4);
    }
  }
}
.swiper-container {
  padding-bottom: 32px;
}
.swiper-pagination-bullet-active {
  background: #11a430;
}
.form-wrapper {
  width: 400px;
  background: $whiteColor;
  box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.3);
  border-radius: 8px;

  @include centerStyle;

  @include breakpoint-down(xs) {
    width: 340px;
  }

  @include breakpoint-down(xxs) {
    width: 300px;
  }
}

.form {
  width: 100%;
  & .form__title {
    padding: 12px 12px 24px 12px;
    border-bottom: 2px solid $separatorColor;
    color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      font-size: 30px;
    }
  }
  .form__body {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.titles h2 {
  color: $textColor;
  font-weight: 800;
  font-size: 1.4rem;
}

.list-contents {
  border-radius: 6px;
  margin-top: 32px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px rgba($color: #000000, $alpha: 0.05);
}

// pagination
.rc-pagination-item-active {
  background: $primaryColor;
  border-color: $primaryColor;
  & > a {
    color: $whiteColor;
  }
}
.rc-pagination-jump-next,
.rc-pagination-jump-prev {
  border: none !important;
}
.rc-pagination-options {
  display: none !important;
}
.rc-pagination-disabled {
  opacity: 0.6;
  pointer-events: none;
}
.has-text-centered {
  text-align: center;
}
div.hide {
  display: none;
}
