@use "@src/styles" as vars;

.toolbar {
  position: fixed;
  transform: translateY(-50%);
  left: 0;
  top: 50%;

  @include vars.breakpoint-down(md) {
    top: auto;
    bottom: 0;
    width: 100%;
    transition: all 0.5s;
    transform: translateY(100%);
    &.show {
      transform: translateY(0);
    }
  }
}
.toolbar.show-settings {
  transform: translateY(-100%);
  @include vars.breakpoint-down(md) {
    transform: translateY(0);
  }
}
.toolbar.show-settings > .setting-controls {
  display: block;
}
.toolbar.show-settings > .toolbar-controls {
  display: none;
}

.toolbar-controls {
  display: flex;
  flex-direction: column;
  padding: 8px;
  @include vars.breakpoint-down(md) {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
.toolbar__btn {
  font-size: 1.6rem;
  @include vars.centerStyle;
  width: 50px;
  transition: all 0.3s;
  height: 50px;
  color: vars.$textColor;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    background: vars.$grayColor;
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}
.toolbar.theme-dark .toolbar__btn {
  color: vars.$whiteColor;
  &:hover {
    background: #4a4a4a;
  }
}

.setting-controls button {
  outline: none;
  border: none;
  background: transparent;
}
.setting-controls,
.toolbar-controls {
  box-shadow: 0px 0px 3px 1px rgba($color: #000000, $alpha: 0.1);
  background: vars.$whiteColor;
  border-radius: 6px;
}

.toolbar.theme-dark .setting-controls,
.toolbar.theme-dark .toolbar-controls {
  background: #363636;
}

.setting-controls {
  padding: 12px 16px;
  display: none;
}

.control-header,
.controls-area {
  display: flex;
  align-items: center;
}
.close-settings-btn {
  @include vars.centerStyle;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background 0.25s;
  border-radius: 4px;
  margin-right: 6px;
  &:hover {
    background-color: vars.$grayHover;
  }
  svg {
    font-size: 24px;
  }
}
.toolbar.theme-dark :where(.close-settings-btn, .header-title, .control-title) {
  color: vars.$whiteColor;
}
.toolbar.toolbar.theme-dark .close-settings-btn:hover {
  background-color: #4a4a4a;
}
.toolbar.theme-dark .font-size-icon {
  filter: invert(1);
}
.toolbar.theme-dark .fontsize-btn {
  border-radius: 6px;
  &:hover {
    background-color: #4a4a4a;
  }
}
.header-title {
  font-size: 26px;
  font-weight: 800;
  color: vars.$textColor;
  margin-bottom: 6px;
}
.controls-area {
  justify-content: space-between;
}
.controls-area {
  padding: 4px 0;
}
.control-title {
  font-size: 20px;
  color: vars.$textColor;
  font-weight: 800;
  margin-right: 32px;
}
.control-options {
  display: flex;
  align-items: center;
  gap: 6px;
}
.options {
  width: 42px;
  height: 42px;
  cursor: pointer;
  @include vars.centerStyle;
}
button.tool-theme {
  font-size: 20px;
  border-radius: 50%;
  border: 3px solid #d5d5d5;
}
button.tool-theme.active {
  border-color: vars.$blueColor;
}
button.tool-theme.theme-light {
  background-color: vars.$whiteColor;
}
button.tool-theme.theme-dark {
  background-color: #000;
  color: vars.$whiteColor;
}
button.tool-theme.theme-book {
  background-color: #cead76;
}

.font-size-icon {
  $size: 24px;
  width: $size;
  height: $size;
}
