@use "@src/styles" as vars;

.searching-item {
  padding: 12px;
  background: vars.$whiteColor;
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid vars.$separatorColor;

  &__img {
    width: 65px;

    & > .img-mockup {
      width: 100%;
      aspect-ratio: 4 / 5;
      background: #ddd;
      border-radius: 6px;
    }
  }

  &__content {
    flex: 1;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    & .title-mockup {
      width: 40%;
    }

    & .content-mockup {
      width: 20%;
    }

    & .title-mockup,
    & .content-mockup {
      height: 16px;
      border-radius: 20px;
      background: #ddd;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent
    );
    animation: slideX 2s linear infinite forwards;
    // opacity: 0;
  }

  @keyframes slideX {
    from {
      left: -50%;
      // opacity: 0;
    }

    to {
      left: 50%;
      // opacity: 1;
    }
  }
}
