@use "@src/styles" as vars;

.slider-wrapper {
  margin-bottom: 44px;

  @include vars.breakpoint-down(md) {
    margin-bottom: 22px;
  }

  & .title {
    margin-bottom: 24px;
    color: vars.$textColor;
    transition: all 0.3s;
    &:hover {
      color: vars.$primaryColor;
    }
  }
  .swiper-container {
    padding-bottom: 20px;
    & .swiper-pagination-box {
      bottom: -5px;
    }
  }

  & .swiper-book-card {
    width: 200px;
    height: 300px;
    @include vars.breakpoint-down(md) {
      width: 100px;
      height: 150px;
    }
    .slide-content {
      width: 100%;
      height: 100%;
    }
  }
}
