@use "../../styles" as *;

.header-top {
  box-shadow: 1px 0px 4px 1px rgba($color: #000000, $alpha: 0.2);
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 3;
  background-color: $whiteColor;
  top: 0;
  height: 50px;
  @include breakpoint-down(md) {
    display: flex;
    align-items: center;
  }

  @include breakpoint-down(xs) {
    padding: 6px 0;
  }
}

.header-container {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;

  @include breakpoint-down(md) {
    flex-wrap: wrap;
    gap: 6px;
  }
}

.logo > a {
  color: $primaryColor;

  @include breakpoint-down(md) {
    font-size: 1.2rem;
  }

  @include breakpoint-down(xs) {
    font-size: 1rem;
  }
  & h2 {
    font-size: 2rem;
  }
  & span.first {
    color: #9c92db;
  }
  & span.last {
    color: #ff42d9;
  }
}

.logo-img {
  width: 180px;
}
.menu-btn {
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-left: auto;
  transition: color 0.3s;
  &:hover {
    color: $primaryColor;
  }
  @include breakpoint-down(md) {
    display: inline-block;
  }
}
