@use "../../styles" as *;

.footer {
  padding-top: 40px;
  padding-bottom: 64px;
}

.footer__logo {
  font-size: 1.5rem;
  color: $primaryColor;
  font-weight: 700;
}
.footer__content {
  font-size: 14px;
  text-align: justify;
  @include breakpoint-down(md) {
    text-align: center;
  }
}
.footer__app-links {
  margin-top: 8px;
  & img {
    width: 120px;
    height: 35px;
    object-fit: cover;
    margin: 0 4px;
  }
  @include breakpoint-down(xxs) {
    text-align: center;
  }
}

.footer__web-rule {
  margin-top: 4px;

  @include breakpoint-down(xxs) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  & a {
    color: $primaryColor;
    transition: all 0.3s;
    font-weight: 400;
    margin: 0 12px;

    &:hover {
      color: $textColor;
    }
  }
}
.container {
  @include centerStyle;
  flex-direction: column;
}
