@use "@src/styles" as vars;
.account-page {
  padding-bottom: 32px;
  background: vars.$grayColor;
  & section {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    @include vars.breakpoint-down(md) {
      flex-direction: column;
    }
  }
}
.side-bar {
  flex: 0.25;
  @include vars.breakpoint-down(md) {
    flex: 1;
  }
  &__head {
    text-align: center;
    & .user-name {
      font-size: 1.8rem;
      color: vars.$textColor;
      font-weight: 600;
    }

    & .user-email {
      font-size: 0.9rem;
      color: rgba($color: #000, $alpha: 0.6);
      margin-bottom: 4px;
      color: vars.$textColor;
    }

    & .user-coins {
      @include vars.centerStyle;
      gap: 4px;
    }
    & img {
      width: 18px;
      height: 18px;
    }
  }
  &__menu {
    list-style: none;
    padding: 24px 0;
    @include vars.breakpoint-down(md) {
      border-top: 1px solid vars.$separatorColor;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      display: flex;
      padding: 0;
    }

    & > li {
      display: block;
      width: 100%;
      height: 100%;
      & .side-bar__links {
        transition: background 0.3s;
        padding: 12px;
        display: flex;
        font-weight: 600;
        align-items: center;
        gap: 8px;
        color: vars.$textColor;

        @include vars.breakpoint-down(md) {
          height: 100%;
          flex-direction: column;
          background-color: vars.$whiteColor;
          gap: 0px;
          font-size: 14px;
          padding: 4px;
        }

        & svg {
          font-size: 1.5rem;
        }
        &:hover,
        &.active {
          background: #ededed;
        }
        &.active {
          color: vars.$primaryColor;
        }
      }
    }
  }
}
.account-content {
  flex: 0.75;
  @include vars.breakpoint-down(md) {
    flex: 1;
  }
}
