@use "@src/styles" as vars;
.reading-page.theme-dark {
  background-color: #4a4a4a;
}

.reading-page.theme-dark .chapter-title {
  color: vars.$whiteColor;
}
.reading-page.theme-dark .novel-content {
  background-color: #363636;
  color: vars.$whiteColor;
}

.reading-page.theme-book {
  background-color: #cead76;
}

.reading-page.reading-page.theme-book .novel-content {
  background-color: #e2c38a;
}
.reading-page {
  padding-bottom: 60px;
}
.content-container {
  width: 100%;
  margin: auto;
  @media (min-width: 1400px) {
  }
  @include vars.breakpoint-down(xxl) {
    max-width: 1152px;
  }

  @include vars.breakpoint-down(xl) {
    max-width: 960px;
  }
  @include vars.breakpoint-down(lg) {
    max-width: 100%;
  }
}
.page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 24px 0;
  text-align: center;
  @include vars.breakpoint-down(xs) {
    padding: 32px 24px 12px 24px;
  }
}
.chapter-title {
  font-size: 2rem;
  font-weight: 700;
  color: vars.$textColor;
  margin-bottom: 12px;
  @include vars.breakpoint-down(sm) {
    font-size: 1.7rem;
  }
  @include vars.breakpoint-down(xs) {
    font-size: 1.4rem;
  }
}
.novel-title {
  margin-bottom: 12px;
  a {
    font-size: 1.6rem;
    color: vars.$blueColor;
    transition: all 0.3s;
    font-weight: 700;
    text-transform: capitalize;

    &:hover {
      color: vars.$blueColor2;
    }
    @include vars.breakpoint-down(sm) {
      font-size: 1.5rem;
    }
    @include vars.breakpoint-down(xs) {
      font-size: 1.3rem;
    }
  }
}
.novel-content {
  width: 80%;
  background-color: vars.$whiteColor;
  margin: auto;
  padding: 24px;
  @include vars.breakpoint-down(lg) {
    width: 90%;
  }
  @include vars.breakpoint-down(md) {
    width: 100%;
  }
}

.controls-btn {
  @include vars.centerStyle;
  gap: 8px;
  width: 100%;
  & a {
    width: auto;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 400;
    background-color: vars.$whiteColor;
    border: 1px solid #dbdbdb;
    &:hover {
      border-color: #b5b5b5;
      box-shadow: 0px 0px 2px 1px rgba($color: #000000, $alpha: 0.1);
      background-color: vars.$whiteColor;
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.controls-btn:last-child {
  margin-top: 24px;
  @include vars.breakpoint-down(md) {
    display: none;
  }
}
